{% extends 'base.html' %} {% load staticfiles %} {%block estils%}
<link href="{% static 'css/info-menu.css' %}" rel="stylesheet"> {%endblock%}
{% block contingut%}

<div class="panel-heading">Productes</div>
<div class="panel-body" ng-controller="ItemsController">
    {% include 'partials/layout_modal.html' %}
    <div class="filtr-container">
        {% if lista_naus %} {% for nau in lista_naus %}
        <div class="col-xs-12 col-sm-6 col-md-4 filtr-item" data-category="1" data-sort="{{nau.nom}}">
            <div id="item" class="panel panel-item panel-default panel-item-default">
                <div class="panel-heading">
                    {{nau.nom}}
                    <div class="pull-right">
                        <a class="wall-entry" href="#" ng-click="veureProducte({{nau.pk}})" data-toggle="modal" data-target="#modal-nau">
                            <span class="oi oi-eye"></span>
                        </a>
                        <a class="wall-entry icon-space-left" href="{% url 'carrets:actualitzarCarret' nau.pk %}">
                            <span class="oi oi-cart"></span>
                        </a>
                        
                    </div>
                </div>
                <div class="panel-body">
                    <div class="media">
                        <img class="media-object img-responsive img-thumbnail" src="{{nau.imatge.url}}" alt="{{nau.nom}}" style="width:100%" />
                        <div class="media-body">
                            <p><b>Preu:</b> {{nau.preu}} €</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %} {% else %}
        <p>No hi ha productes a la llista.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js" type="text/javascript"></script>
<!-- Angular Cookies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-cookies.js" type="text/javascript"></script>
<!-- Angular InfoItem -->
<script src="{% static 'js/modal-item.js' %}" type="text/javascript"></script>
{% endblock %}
