<!DOCTYPE html>
<html>
<head>
	<title>404 Error</title>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <style>
div.err {
  margin: 100px;
  background-color: #ffffff;/* Used for colouring the transition box*/
  border: 1px solid white;
  opacity: 0.6;/*Used to specify opacity*/
  padding-top: 50px;
  padding-bottom: 50px
  
}

div.err p {
  margin: 2%;
  font-weight: bold;
  color: #000000;
  padding: 90px;
}
</style>
</head>
<body >

<div class="background">
  <div class="err">
     <h2 style="text-align: center;">
         Error 404. Oops la pagina que busques <b>No existeix</b></h2>
  </div>
</div>
</body>
</html>